
body {
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("wallpaper.png");
    background-size: cover;
    margin: 1em auto;
    max-width:40em;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1{
    color:rgb(18, 18, 17)
}
button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  button:hover {opacity: 1}
  
  ::-webkit-file-upload-button {
    border: 2px solid #6c5ce7;
    border-radius: 0.9em;
    background: rgb(196, 133, 6);
    color: rgb(244, 241, 241);
    padding: 2em;
    transition: 1s;
  }
  input[type="file"]::file-selector-button:hover {
    background-color: #531e0a;
    border: 2px solid #441404;
  }